*{
    margin: 0;
    padding: 0;
}

.btn-search, .btn-add, .btn-new{
    display: block;
    margin-bottom: 10px;
    height: 40px;
}

.btn-search{
    background-color: #fff;
    border: 2px solid #30a7a9;
    color: #30a7a9;
    border-radius: 20px;
    width: 100px;
    font-weight: 900;
}

.btn-add{
    width: 40px;
    background-color: #00d1b2;
    color: #ffff;
    border-radius: 50%;
    border: none;
}

.btn-new{
    width: 150px;
    background-color: #2b78e4;
    color: #ffff;
    border: 2px solid black;
    box-shadow: 3px 3px black;
}
